In [62]:
import pandas as pd
import json
import csv
import re
import tweepy
from tweepy import OAuthHandler
import time

In [63]:
df_archive = pd.read_csv('twitter-archive-enhanced-2.csv')
df_image = pd.read_csv('image-predictions-3.tsv',  delimiter='\t')

In [48]:
df_archive.head()
#df.info()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [25]:
consumer_key = 'jbL7N3K4eXgD1zhDfeS2TcnFr'
consumer_secret = 'XeIpJqZ4i8WAolHVCNBqGtILZKY1J0TVJw8GkpW9jDRthls1qn'
access_token = '495295426-3dc2rEDWSI8AX8NxYCpIRV9tk83EwocP7RzbraDC'
access_token_secret = 'zsulnNzoCcHRURBOkfVkb1tLcJPfYinSwfJBpn9Nam1FV'


# search_favorites(consumer_key, consumer_secret, access_token, access_token_secret):
#create authentication for accessing twitter
auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

#initialize Tweepy API
api = tweepy.API(auth, wait_on_rate_limit =True, wait_on_rate_limit_notify = True)
tweet_ids = df_archive.tweet_id

Rate limit reached. Sleeping for: 611
Rate limit reached. Sleeping for: 593

In [114]:
count = 0
fails_dict = {}
#save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    
    #loop through each tweet id and write to outfile
    for tweet_id in tweet_ids:
        count += 1        
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            json.dump(tweet._json, outfile)
            outfile.write('\n')
            
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass

Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail

Rate limit reached. Sleeping for: 595

Fail
Fail

Rate limit reached. Sleeping for: 609

In [116]:
df_1 = pd.DataFrame(columns=['tweet_id', 'retweet_count', 'favorite_count'])
with open('tweet_json.txt') as f:
    for line in f:
        status  = json.loads(line)
        tweet_id = status['id_str']
        retweet_count = status['retweet_count']
        favorite_count = status['favorite_count']
        df_1 = df_1.append(pd.DataFrame([[tweet_id, retweet_count, favorite_count]],
                                        columns=['tweet_id', 'retweet_count', 'favorite_count']))
df_1 = df_1.reset_index(drop=True)

             tweet_id retweet_count favorite_count
0  892420643555336193          8196          37562
1  892177421306343426          6060          32289
2  891815181378084864          4008          24334
3  891689557279858688          8352          40919
4  891327558926688256          9045          39111

In [316]:
df_1.tweet_id = df_1.tweet_id.astype('str')
df_archive.tweet_id = df_archive.tweet_id.astype('str')
#assess
df_merged2.query('rating_numerator < 10 or rating_numerator >16')['text']
df_merged2.name.value_counts()

None         603
a             55
Lucy          11
Cooper        10
Oliver        10
Charlie       10
Tucker         9
Penny          9
Winston        8
Lola           8
Sadie          8
the            8
Daisy          7
Toby           7
Bella          6
an             6
Bo             6
Bailey         6
Koda           6
Oscar          6
Jax            6
Stanley        6
Leo            5
Buddy          5
Milo           5
Louis          5
Rusty          5
Scout          5
Chester        5
Bentley        5
            ...
Fiji           1
Craig          1
Cali           1
Mingus         1
Lilah          1
Kanu           1
Blue           1
Fabio          1
Vince          1
Sprinkles      1
Sunshine       1
Beckham        1
Fizz           1
Margo          1
Bloo           1
Marq           1
Thor           1
Rufio          1
Goliath        1
Alfy           1
Scott          1
Frönq          1
Mack           1
Rodman         1
Edgar          1
Sandra         1
Mary           1
Arya           1
Andy           1
Millie         1
Name: name, Length: 954, dtype: int64

Merge data frames

In [317]:
df_merged = df_archive.merge(df_1, how= 'inner', on = 'tweet_id')
#df_archive.info()
#df_1.info()

def: remove rows present in retweet status
remove unnecessary rows
remove retweet status columns
remove denomenator

In [318]:
#df1 = df1[df1['retweeted_status_id'].isna()]
df_merged2 = df_merged[df_merged['retweeted_status_id'].isna()]
df_merged2 = df_merged[df_merged['in_reply_to_status_id'].isna()]

df_merged2.drop(['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp', 'rating_denominator', 'in_reply_to_status_id', 'in_reply_to_user_id'],  axis =1, inplace = True )

combine stages

In [319]:
#df_merged2['stage'] = df_merged2.doggo + df_merged2.floofer + df_merged2.pupper + df_merged2.puppo
#df_merged2.doggo.value_counts()

remove rows without photos

In [320]:
#df_merged2.info()
#df_merged['image_link'] = df_merged.text.str.extract('http://')
df_merged3 = df_merged2[df_merged2.text.str.contains("https://")]

Names 869988702071779329 = quite
a 
an 
the

In [321]:
df_merged3.loc[df_merged3['name'] == "quite", 'name'] = None
df_merged3.loc[df_merged3['name'] == "the", 'name'] = None
df_merged3.loc[df_merged3['name'] == "an", 'name'] = None
df_merged3.loc[df_merged3['name'] == "an", 'name'] = None

combine stage columns

In [322]:
import numpy as np
#df_merged3.loc[df_merged3[['doggo', 'floofer', 'pupper', 'puppo']]== 'None']
#df_merged3['stages'] = df_merged3.doggo + df_merged3.floofer + df_merged3.pupper + df_merged3.puppo

df_merged3.replace('None', np.nan, inplace = True)
df_merged3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2227 entries, 0 to 2336
Data columns (total 13 columns):
tweet_id            2227 non-null object
timestamp           2227 non-null object
source              2227 non-null object
text                2227 non-null object
expanded_urls       2227 non-null object
rating_numerator    2227 non-null int64
name                1558 non-null object
doggo               92 non-null object
floofer             10 non-null object
pupper              246 non-null object
puppo               28 non-null object
retweet_count       2227 non-null int64
favorite_count      2227 non-null int64
dtypes: int64(3), object(10)
memory usage: 243.6+ KB

In [323]:
df_merged3['stage'] = df_merged3.text.str.extract(r'(doggo|floofer|pupper|puppo)')
df_merged3.stage

C:\Users\Summer\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9        doggo
10         NaN
11         NaN
12       puppo
13         NaN
14       puppo
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28      pupper
30         NaN
         ...
2307       NaN
2308       NaN
2309       NaN
2310       NaN
2311       NaN
2312       NaN
2313       NaN
2314       NaN
2315       NaN
2316       NaN
2317       NaN
2318       NaN
2319       NaN
2320       NaN
2321       NaN
2322       NaN
2323       NaN
2324       NaN
2325       NaN
2326       NaN
2327       NaN
2328       NaN
2329       NaN
2330       NaN
2331       NaN
2332       NaN
2333       NaN
2334       NaN
2335       NaN
2336       NaN
Name: stage, Length: 2227, dtype: object

In [343]:
df4 = df_merged3.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis =1)

In [344]:
df4.stage.value_counts()

pupper     254
doggo       87
puppo       33
floofer      4
Name: stage, dtype: int64

In [347]:
import datetime as dt

df4.timestamp = pd.to_datetime(df4['timestamp'])

df4['day_of_week'] = df4['timestamp'].dt.dayofweek

TweepError: [{'code': 144, 'message': 'No status found with that ID.'}]

In [365]:
a = []
for d in df_image['tweet_id']:
    if df_image['p1_dog'] == True:
        a.append(df_image['p1'])
    elif df_image['p1_dog'] != True & df_image['p2_dog'] == True:
        a.append(df_image['p2'])
    else:
        a.append(df_image['p3'])
#df_image.query('p1_dog != True'&'p1_dog != True'&'p1_dog == True')

df3 = loc[df_image['p1_dog'] == True]
b = loc[df_image['p1_dog'] != True & ['p2_dog'] == True ]
c = loc[df_image['p1_dog'] != True ['p2_dog'] != True ['p3_dog'] == True ]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [378]:
df_1 = df_image.query('p1_dog == True')
df_2 = df_image.query('p1_dog != True & p2_dog == True')
df_3 = df_image.query('p1_dog != True & p2_dog != True & p3_dog == True')

df_1['breed'] = df_1['p1']
df_2['breed'] = df_2['p2']
df_3['breed'] = df_3['p3']
df_3.breed
len(df_1) + len(df_2) + len(df_3)
len(df_image)

C:\Users\Summer\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Summer\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Summer\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

2075

In [384]:
image_clean = pd.concat([df_1, df_2, df_3], axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)
image_clean = image_clean[['tweet_id','breed']]

In [394]:
#image['tweet_id']
image_clean = image_clean.astype(str, copy=True)
df4.merge(image_clean, how = 'left', on = 'tweet_id')
df4.info()
df4.tweet_id.duplicated().any()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2227 entries, 0 to 2336
Data columns (total 11 columns):
tweet_id            2227 non-null object
timestamp           2227 non-null datetime64[ns, UTC]
source              2227 non-null object
text                2227 non-null object
expanded_urls       2227 non-null object
rating_numerator    2227 non-null int64
name                1558 non-null object
retweet_count       2227 non-null int64
favorite_count      2227 non-null int64
stage               378 non-null object
day_of_week         2227 non-null int64
dtypes: datetime64[ns, UTC](1), int64(4), object(6)
memory usage: 288.8+ KB

False

In [353]:
df_image.query('p1_dog == True').shape

(1532, 12)

In [354]:
df_image.query('p1_dog == True or p2_dog == True').shape

(1687, 12)

In [359]:
df_image1 = df_image.query('p1_dog == True or p2_dog == True or p3_dog == True').shape
a = []
for - in range(200):
    if df_image.p1.dog == True:
        a.append(df_image.)
        elif df

In [ ]:
change variable types
tweetid should be a string
stage characters should be categories

fix the names column
meet, this is,

Delete the rating denomenator

images: extract type of dog and merge with bigger table